ipykernel
python-dotenv
langchain
langgraph
langchain-openai
langchain-community
langchain-core
langchain-groq
langchain-ollama
faiss-cpu
chromadb
langchain_chroma
streamlit
git+https://github.com/securefederatedai/openfederatedlearning.git